{% extends "mcs/Abase.html" %}
{% load static from staticfiles %}
{% block content %}
            <!-- page content -->
            

                    <div class="page-title">
                        <div class="title_left">
                            <h3> Update Profile </h3>
                        </div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                      
            
	              <div class="col-md-12">
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2> Edit User {{name}} </h2>
	                    <ul class="nav navbar-right panel_toolbox">
	                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                      </li>
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><i class="fa fa-wrench"></i></a>
	                        <ul class="dropdown-menu" role="menu">
	                          <li><a href="#">Settings 1</a>
	                          </li>
	                          <li><a href="#">Settings 2</a>
	                          </li>
	                        </ul>
	                      </li>
	                      <li><a class="close-link"><i class="fa fa-close"></i></a>
	                      </li>
	                    </ul>
	                    <div class="clearfix"></div>
	                  </div>
	                  <div class="x_content">
	                    <br />
	                    <form class="form-horizontal form-label-left input_mask" method="post">
	                    	{% csrf_token %}
	                      <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
	                        <input type="text" class="form-control has-feedback-left" name="Name" placeholder="{{name}}" value="{{name}}">
	                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
	                      </div>

	                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
	                        <input type="text" class="form-control has-feedback-left"  name="Email" id="inputSuccess4" placeholder="{{email}}" value="{{email}}">
	                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
	                      </div>

	                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
	                        <input type="text" class="form-control has-feedback-left" name="Phone"  id="inputSuccess5" placeholder="{{phone}}" value="{{phone}}">
	                        <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
	                      </div>
						
					             	<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
	                        <input type="text" class="form-control has-feedback-left" name="Designation"  id="inputSuccess5" placeholder="{{designation}}" value="{{designation}}">
	                        <span class="fa fa-edit form-control-feedback left" aria-hidden="true"></span>
	                      </div>

							                      
	                      <div class="form-group">
                          <div class="col-md-9 col-sm-9 col-xs-12"> 
                            <form action="" method="POST">
                                <button type="submit" name="editUser" class="btn btn-success" onclick="return confirm('Edit User: \n----------------------  \n Name: {{name}} \n Phone: {{phone}} \n Email: {{email}} \n Designation: {{designation}}')">Update</button>
                              
                              <!--  <button type="submit" class="btn btn-warning" id="delUser" onclick="return confirm('Delete User: \n Name:{{name}} \n Phone:{{phone}}\n Email:{{email}} \nDesignation:{{designation}}')">Delete User</button>
                              -->
                               <button type="submit" class="btn btn-danger" id="delUser" name="delUser"  onclick="return confirm('Delete User: \n---------------------- \n Name: {{name}} \n Phone: {{phone}} \n Email: {{email}} \n Designation: {{designation}}')">Delete User</button>
                            </form>
                          </div>
	                      </div>

	                    </form>
	                  </div>
	                </div>

                   

    
    <script type="text/javascript">

        function sendSMS(phone)
        { 
             var data = { 
                'sms': phone
            }
            $.ajax({
                "type": "GET",
                "dataType": "json",
                "url": '',
                "data": data,
                "success": function(result) {
                    console.log(result);
                     
                },
            });
        }
    </script>
{% endblock content %}