{% extends "mcs/Abase.html" %}
{% load static from staticfiles %}
{% block content %}
            <!-- page content -->
            
                <div class="">
                    <div class="page-title">
                 
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <!-- line graph -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Line Graph of Files Distribution
                                          
                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content2">
                                    <div id="graph_line" style="width:100%; height:300px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /line graph -->

                        <div class="clearfix"></div>
    
                        <!-- bar chart -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Food Type Requirements</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="graph_bar" style="width:100%; height:280px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /bar charts -->

    
                    <!-- bar chart -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Medicine Requirements</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="graph_bar1" style="width:100%; height:280px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /bar charts -->

    
                    <div class="clearfix"></div>
                    
                        <!-- /bar charts group -->

                        
                        <!-- pie chart -->
                        <!--
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Affected Districts</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content2">
                                    <div id="graph_donut" style="width:100%; height:300px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /Pie chart -->


                        <!-- pie chart -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Victim affected</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content2">
                                    <div id="graph_donut1" style="width:100%; height:300px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /Pie chart -->
                        
                        <!-- bar chart -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Victim Affected</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="graph_bar2" style="width:100%; height:280px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /bar charts -->

  
                        <!-- pie chart -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Types of Data in Database</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content2">
                                    <div id="graph_donut2" style="width:100%; height:300px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /Pie chart -->

                        <!-- line graph -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Different TTL</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content2">
                                    <div id="graph_line1" style="width:100%; height:300px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /line graph -->

                       

                       
                    </div>
                </div>
            <!-- /page content -->
    <!-- moris js -->
    <script src="{% static "js/moris/raphael-min.js" %}"></script>
    <script src="{% static "js/moris/morris.js" %}"></script>
    <script type="text/javascript">
        $(function () {

    Morris.Bar({
        element: 'graph_bar',
        data: [
           {% for key,values in FoodData.items %}
                {device: '{{key}}',Quantity: '{{values}}'},
          {% endfor %}
          ],
        xkey: 'device',
        ykeys: ['Quantity'],
        labels: ['QUantity'],
        barRatio: 0.4,
        barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        xLabelAngle: 35,
        hideHover: 'auto'
    });
    Morris.Bar({
        element: 'graph_bar1',
        data: [
          {% for key,values in HealthData.items %}
                {device: '{{key}}',Quantity: '{{values}}'},
          {% endfor %}
          ],
        xkey: 'device',
        ykeys: ['Quantity'],
        labels: ['Quantity'],
        barRatio: 0.4,
        barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        xLabelAngle: 35,
        hideHover: 'auto'
    });
Morris.Bar({
        element: 'graph_bar2',
        data: [
           {% for key,values in VictimData.items %}
                {device: '{{key}}',Quantity: '{{values}}'},
          {% endfor %}
        ],
        xkey: 'device',
        ykeys: ['Quantity'],
        labels: ['Quantity'],
        barRatio: 0.4,
        barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        xLabelAngle: 35,
        hideHover: 'auto'
    });

    

    /*
    Morris.Donut({
        element: 'graph_donut',
        data: [
           {% for key,values in latlongFinal.items %}
                {label: '{{key}}',value: '{{values}}'},
          {% endfor %}
        ],
        colors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        formatter: function (y) {
            return y + "%"
        }
    });
    */


    Morris.Donut({
        element: 'graph_donut2',
        data: [
            {label: 'AUD', value: '{{audioDistribution}}'},
                {label: 'IMG', value: '{{imageDistribution}}'},
                {label: 'SMS', value: '{{smsDistribution}}'},
                {label: 'TXT', value: '{{txtDistribution}}'},
                {label: 'VID', value: '{{videoDistribution}}'}
            ],
            colors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            formatter: function (y) {
                return y + "%"
            }
        });

        Morris.Donut({
            element: 'graph_donut1',
            data: [
               {% for key,values in VictimDataPerc.items %}
                    {label: '{{key}}',value: '{{values}}'},
              {% endfor %}
            ],
            colors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            formatter: function (y) {
                return y + "%"
            }
        });

		var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

		Morris.Line({
		  element: 'graph_line',
		  data: [
	  	  {% for key,values in countYears.items %}
		        {m: '{{key}}',a: '{{values}}'},
          {% endfor %}
          
		  ],
		  xkey: 'm',
		  ykeys: ['a'],
		  labels: ['Files:'],
		  lineColors: ['#26B99A'],
		  xLabelFormat: function(x) { // <--- x.getMonth() returns valid index
		    var month = months[x.getMonth()];
		    return month;
		  },
		  dateFormat: function(x) {
		    var month = months[new Date(x).getMonth()];
		    return month;
		  },
		});


		var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

		Morris.Line({
		  element: 'graph_line1',
		  data: [
	  	  {% for key,values in countYears.items %}
		        {m: '{{key}}',a: '{{values}}'},
  	      {% endfor %}
          
		  ],
		  xkey: 'm',
		  ykeys: ['a'],
		  labels: ['Files:'],
		  lineColors: ['#26B99A'],
		  xLabelFormat: function(x) { // <--- x.getMonth() returns valid index
		    var month = months[x.getMonth()];
		    return month;
		  },
		  dateFormat: function(x) {
		    var month = months[new Date(x).getMonth()];
		    return month;
		  },
		});
  
    });
    </script>

{% endblock content %}