{% extends "mcs/Abase.html" %}
{% load static from staticfiles %}
{% block content %}
            <!-- page content -->

                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3> Groups </h3>
                        </div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2> Files in Group 

                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                         </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-md-6 gallery clearfix" style="">
                                    		<label class="control-label col-md-3 col-sm-3 col-xs-12">Source:</label>
						                      <div class="col-md-9 col-sm-9 col-xs-12">
						                        <select class="select2_single form-control" id="selectBox" tabindex="-1">
						                          <option value="" disabled selected>Select Source</option>	
						                          {%for element in allSource %}
							                          <option value="{{element}}">{{element}}</option> 
												  {% endfor %}
												</select>  
						                        

						                      </div>
						                   
                                    </div>
                                    <div class="col-md-6 gallery clearfix" style="">
                                    		<label class="control-label col-md-3 col-sm-3 col-xs-12">Group:</label>
						                      <div class="col-md-9 col-sm-9 col-xs-12">
						                        <select class="select2_single form-control" id="selectBoxGroup" tabindex="-1">
						                          <option value="" disabled selected>Select Group</option>
						                          {%for element in groups %}
							                          <option value="{{element}}">{{element}}</option> 
												  {% endfor %}
												</select>  
						                        

						                      </div>
						                   
                                    </div>

								</div>

				                <input type="button" class="btn btn-success" style="margin-top:3%;width:100%;margin:0 auto;" id="post" value="See Files in Group" >
				                <div class="x_content">
				                  <table class="table table-hover" id="table">
				                    <thead>
				                      <tr>
				                        <th>#</th>
				                        <th>Source</th>
				                        <th>Filename</th>
				                        <th>Group ID</th>
				                      </tr>
				                    </thead>
				                    <tbody>
				                     
				                    </tbody>
				                  </table>

				                </div>
				               <div class="post"></div>
                        </div>
                    </div>
                </div>
            <!-- /page content -->
    <script type="text/javascript">
    	$(document).ready(function() {
		    $("#post").click(function(e) {
		    	$("#table tbody tr").remove();
		        var data = { 
		        	'value': $('#selectBox option:selected').val(),'group' : $('#selectBoxGroup option:selected').val()
		        }

		        $.ajax({
		            "type": "GET",
		            "dataType": "json",
		            "url": '',
		            "data": data,
		            "success": function(result) {
		            	console.log(result);
                        if (!$.trim(result)){   
                            alert("No Matching Files !!");
                        }
                        else{ 
    						for (i = 0; i < result.length; i++) {

    						    var newText  = "<tr><th scope='row'>" + (i + 1) +  "</th><td>" + $('#selectBox option:selected').val() + "</td><td>" + result[i] + "</td><td>" + $('#selectBoxGroup option:selected').val() + "</td></tr>";
    							$("#table tbody").append(newText);	
    						}
		            	}	      
		            },
		        });
		    });
		});
    </script>
{% endblock content %}