{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MCS Dashboard </title>

    <!-- Bootstrap core CSS -->

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "fonts/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="{% static "../assets/js/ie8-responsive-file-warning.js" %}"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="{% static "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" %}"></script>
          <script src="{% static "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %}"></script>
        <![endif]-->
</head>


<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">


                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><i class="fa fa-tasks"></i> <span>MCS Dashboard</span></a>
                    </div>
                    <div class="clearfix"></div>

                    
                    <!-- /menu prile quick info -->

                    <br />

                   
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="/"><i class="fa fa-home"></i>Dashboard <span class="fa fa-circle"></span></a></li>
                                <li><a href="/sync"><i class="fa fa-edit"></i> Sync <span class="label label-success pull-right">New Files</span></a>
                                </li>
                                <li><a><i class="fa fa-table"></i> Analysis <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="/analysis/graphical">Graphical</a>
                                        </li>
                                        <li><a href="/analysis/tables">Tabular</a>
                                        </li>
                                    </ul>
                                </li>
                                
                                <li><a><i class="fa fa-desktop"></i> File Viewer <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="/filemanager/imageView">Images</a>
                                        </li>
                                        <li><a href="/filemanager/audioView">Audio</a>
                                        </li>
                                        <li><a href="/filemanager/videoView">Video</a>
                                        </li>
                                        <li><a href="/filemanager/groupView">Group View</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/reportGen"><i class="fa fa-file-text"></i> Report Generation <span class="fa fa-circle"></span></a></li>
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /sidebar menu -->

                   

                   
                   </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                
                              
                            </li>

                            <li role="presentation" class="dropdown">
                               
                                
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">

                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3> Groups </h3>
                        </div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2> Files in Group 

                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                         </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-md-6 gallery clearfix" style="">
                                    		<label class="control-label col-md-3 col-sm-3 col-xs-12">Source:</label>
						                      <div class="col-md-9 col-sm-9 col-xs-12">
						                        <select class="select2_single form-control" id="selectBox" tabindex="-1">
						                          <option value="" disabled selected>Select Source</option>	
						                          {%for element in allSource %}
							                          <option value="{{element}}">{{element}}</option> 
												  {% endfor %}
												</select>  
						                        

						                      </div>
						                   
                                    </div>
                                    <div class="col-md-6 gallery clearfix" style="">
                                    		<label class="control-label col-md-3 col-sm-3 col-xs-12">Group:</label>
						                      <div class="col-md-9 col-sm-9 col-xs-12">
						                        <select class="select2_single form-control" id="selectBoxGroup" tabindex="-1">
						                          <option value="" disabled selected>Select Group</option>
						                          {%for element in groups %}
							                          <option value="{{element}}">{{element}}</option> 
												  {% endfor %}
												</select>  
						                        

						                      </div>
						                   
                                    </div>

								</div>

				                <input type="button" class="btn btn-success" style="margin-top:3%;width:100%;margin:0 auto;" id="post" value="See Files in Group" >
				                <div class="x_content">
				                  <table class="table table-hover" id="table">
				                    <thead>
				                      <tr>
				                        <th>#</th>
				                        <th>Source</th>
				                        <th>Filename</th>
				                        <th>Group ID</th>
				                      </tr>
				                    </thead>
				                    <tbody>
				                     
				                    </tbody>
				                  </table>

				                </div>
				               <div class="post"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>

    </div>

    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/nicescroll/jquery.nicescroll.min.js" %}"></script>

    <script src="{% static "js/custom.js" %}"></script>

    <script type="text/javascript">
    	$(document).ready(function() {
		    $("#post").click(function(e) {
		    	$("#table tbody tr").remove();
		        var data = { 
		        	'value': $('#selectBox option:selected').val(),'group' : $('#selectBoxGroup option:selected').val()
		        }

		        $.ajax({
		            "type": "GET",
		            "dataType": "json",
		            "url": '',
		            "data": data,
		            "success": function(result) {
		            	console.log(result);
                        if (!$.trim(result)){   
                            alert("No Matching Files !!");
                        }
                        else{ 
    						for (i = 0; i < result.length; i++) {

    						    var newText  = "<tr><th scope='row'>" + (i + 1) +  "</th><td>" + $('#selectBox option:selected').val() + "</td><td>" + result[i] + "</td><td>" + $('#selectBoxGroup option:selected').val() + "</td></tr>";
    							$("#table tbody").append(newText);	
    						}
		            	}	      
		            },
		        });
		    });
		});
    </script>
</body>

</html>