{% extends "mcs/Abase.html" %}
{% load static from staticfiles %}
{% block content %}
            <!-- page content -->
            

                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-file"></i> Total Files in DB</span>
                            <div class="count blue">{{ countAllFiles }}</div>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-camera"></i> Total Photos</span>
                            <div class="count green">{{ countIMG }}</div>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-video-camera"></i> Total Videos</span>
                            <div class="count red">{{ countVID }}</div>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-file-text-o"></i> Total SMS</span>
                            <div class="count purple">{{ countSMS }}</div>
                            
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-file-text"></i> Total Text</span>
                            <div class="count dark">{{ countTXT }}</div>
                           
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-music"></i> Total Audio</span>
                            <div class="count aero">{{ countAUD }}</div>
                        </div>
                    </div>

                </div>
                <!-- /top tiles -->

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">

                            <div class="row x_title">
                                <div class="col-md-6">
                                    <h3>Map of Overall Data Collected{{MEDIA_URL}}{{STATIC_URL}}</small></h3>
                                </div>
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-12" style="border:1px solid darkcyan; box-shadow: 0 2px 2px darkcyan"">
                                   <!--<div id="map" style="overflow:hidden;" onclick="toggleFullScreen()"></div>-->
                                   <div id="map" style="overflow:hidden;"></div>
                            </div>
                            <div class="col-md-3 col-sm-2 col-xs-12" style="padding-left:2%;">
                                <div class="x_title">
                                    <h2>Data Distribution</h2>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    <div>
                                        <a href="filemanager/audioView">
                                        <p>Audio Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{ audioDistribution }}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="filemanager/imageView">
                                        <p>Image Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{ imageDistribution }}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="filemanager/videoView">
                                        <p>Video Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{videoDistribution}}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    <div>

                                        <a href="sms">
                                        <p>SMS Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{ smsDistribution }}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div>

                                        <a href="sms">
                                        <p>TXT Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{txtDistribution}}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            <br />
                        </div>
                    </div>
            </div>
 <!-- /page content -->
    <!-- Map setup -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCx6eitGAGv5IDefhePqqZnw9QsztD2DRM"></script>
        
    <script type="text/javascript">
        //Google maps API initialisation
        var element = document.getElementById("map");

        var map = new google.maps.Map(element, {
            center: new google.maps.LatLng(23.550097, 87.289751),
            zoom: 14,
            mapTypeId: "OSM",
            mapTypeControl: false,
            streetViewControl: false
        });
            
        //Define OSM map type pointing at the OpenStreetMap tile server
        map.mapTypes.set("OSM", new google.maps.ImageMapType({
            getTileUrl: function(coord, zoom) {
              // "Wrap" x (logitude) at 180th meridian properly
              var tilesPerGlobe = 1 << zoom;
              var x = coord.x % tilesPerGlobe;
              if (x < 0) x = tilesPerGlobe+x;
              return "https://tile.openstreetmap.org/" + zoom + "/" + x + "/" + coord.y + ".png";
            },
            tileSize: new google.maps.Size(256, 256),
            name: "OpenStreetMap",
            maxZoom: 18
        }));
       
        var situationalDataTypeColor = {}
        situationalDataTypeColor['Victim'] = "{% static "images/victim.png" %}";
        situationalDataTypeColor['Health'] = "{% static "images/health.png" %}";
        situationalDataTypeColor['Food'] = "{% static "images/food.png" %}";
        situationalDataTypeColor['Shelter'] = "{% static "images/shelter.png" %}";

       // map.setView([23.5422, 87.2515],14);
         
        
        {% for i,j,fname in  latlong %}
            var type = '{{fname}}';
            if(type != 'Gis')
            {
                var beachMarker = new google.maps.Marker({
                    position: {lat: {{i}}, lng: {{j}}},
                    map: map,
                    icon: situationalDataTypeColor[type]
                });   
            }
        {% endfor %}         
        
        // Added geojson 
        /*var geojsonLayer = 0;
        
        function onEachFeature(feature, layer) {      
               layer.on('click', function (e) {
                  var popupContent = "Feature: " + feature.geometry.type + "<br/>FID : " + feature.properties.FID + "<br/>  Text : " + feature.properties.TEXT + "<br/>Rate us please:<div class='stars'><form action=''><input class='star star-5' id='star-5' type='radio' name='star'/><label class='star star-5' for='star-5'></label><input class='star star-4' id='star-4' type='radio' name='star'/><label class='star star-4' for='star-4'></label><input class='star star-3' id='star-3' type='radio' name='star'/><label class='star star-3' for='star-3'></label><input class='star star-2' id='star-2' type='radio' name='star'/><label class='star star-2' for='star-2'></label><input class='star star-1' id='star-1' type='radio' name='star'/><label class='star star-1' for='star-1'></label></form></div>";
                    
                    layer.bindPopup(popupContent);
                });
        }
        var geojsonfeature = $.getJSON("{% static "sampleGeoJson/sample.geojson" %}", 
            function(dataGeo) {
                geojsonLayer = L.geoJson(dataGeo,{
                  style: function(feature) {
                    return {
                      "color": "#78c679",
                      "weight": 5,
                      "opacity": 0.9,
                      "zIndex" : 100
                    }
                  },
                  // Put onEachFeature within the options object, not as 3rd argument.
                  onEachFeature: onEachFeature
                });
                geojsonLayer.addTo(map);
            }
        );
        if(map.hasLayer(geojsonLayer))
        {
            console.log("has layer");
            map.removeLayer(geojsonLayer);    
        }*/
        
        
    </script>
    <!-- /footer content -->
{% endblock content %}