{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MCS Dashboard </title>

    <!-- Bootstrap core CSS -->

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "fonts/css/font-awesome.min.css" %}" rel="stylesheet">
<!--    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">-->

    <!-- Custom styling plus plugins -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/L.Grid.css" %}" rel="stylesheet">
  
    <!-- Offline Map Start -->
    <!-- leaflet -->
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}" />

    <link rel="stylesheet" href="{% static "css/MarkerCluster.Default.css" %}" />
  
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/leaflet.js" %}"></script>
    <style type="text/css">
        div.stars {
          width: 270px;
          display: inline-block;
        }

        input.star { display: none; }

        label.star {
          float: right;
          padding: 10px;
          font-size: 36px;
          color: #444;
          transition: all .2s;
        }

        input.star:checked ~ label.star:before {
          content: '\f005';
          color: #FD4;
          transition: all .25s;
        }

        input.star-5:checked ~ label.star:before {
          color: #FE7;
          text-shadow: 0 0 20px #952;
        }

        input.star-1:checked ~ label.star:before { color: #F62; }

        label.star:hover { transform: rotate(-15deg) scale(1.3); }

        label.star:before {
          content: '\f006';
          font-family: FontAwesome;
        }
        .leaflet-popup {
        	z-index: 1000;
        }
    </style>   

</head>


<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><i class="fa fa-tasks"></i> <span>MCS Dashboard</span></a>
                    </div>
                    <div class="clearfix"></div>

                                        
                    <!-- /menu prile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="/"><i class="fa fa-home"></i>Dashboard <span class="fa fa-circle"></span></a></li>
                                <li><a href="/sync"><i class="fa fa-edit"></i> Sync <span class="label label-success pull-right">New Files</span></a>
                                </li>
                                <li><a><i class="fa fa-table"></i> Analysis <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="/analysis/graphical">Graphical</a>
                                        </li>
                                        <li><a href="/analysis/embs">EMBS</a>
                                        </li>
                                        <li><a href="/analysis/tables">Tabular</a>
                                        </li>
                                    </ul>
                                </li>
                                
                                <li><a><i class="fa fa-desktop"></i> File Viewer <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="/filemanager/imageView">Images</a>
                                        </li>
                                        <li><a href="/filemanager/audioView">Audio</a>
                                        </li>
                                        <li><a href="/filemanager/videoView">Video</a>
                                        </li>
                                        <li><a href="/filemanager/groupView">Group View</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/reportGen"><i class="fa fa-file-text"></i> Report Generation <span class="fa fa-circle"></span></a></li>
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /sidebar menu -->

                   
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu" >
                    <nav class="" role="navigation" style="margin-bottom:20px;">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->


            <!-- page content -->
            <div class="right_col" role="main">

                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-file"></i> Total Files in DB</span>
                            <div class="count blue">{{ countAllFiles }}</div>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-camera"></i> Total Photos</span>
                            <div class="count green">{{ countIMG }}</div>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-video-camera"></i> Total Videos</span>
                            <div class="count red">{{ countVID }}</div>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-file-text-o"></i> Total SMS</span>
                            <div class="count purple">{{ countSMS }}</div>
                            
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-file-text"></i> Total Text</span>
                            <div class="count dark">{{ countTXT }}</div>
                           
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-music"></i> Total Audio</span>
                            <div class="count aero">{{ countAUD }}</div>
                        </div>
                    </div>

                </div>
                <!-- /top tiles -->

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">

                            <div class="row x_title">
                                <div class="col-md-6">
                                    <h3>Map of Overall Data Collected{{MEDIA_URL}}{{STATIC_URL}}</small></h3>
                                </div>
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-12" style="border:1px solid darkcyan; box-shadow: 0 2px 2px darkcyan"">
                                   <div id="map" style="overflow:hidden;" onclick="toggleFullScreen()"></div>
                                   <!--<div id="map" style="overflow:hidden;"></div>-->
                            </div>
                            <div class="col-md-3 col-sm-2 col-xs-12" style="padding-left:2%;">
                                <div class="x_title">
                                    <h2>Data Distribution</h2>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    <div>
                                        <a href="filemanager/audioView">
                                        <p>Audio Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{ audioDistribution }}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="filemanager/imageView">
                                        <p>Image Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{ imageDistribution }}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="filemanager/videoView">
                                        <p>Video Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{videoDistribution}}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    <div>

                                        <a href="sms">
                                        <p>SMS Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{ smsDistribution }}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div>

                                        <a href="sms">
                                        <p>TXT Files</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{txtDistribution}}></div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            <br />
                        </div>
                    </div>
            </div>
            </div>
 <!-- /page content -->

        </div>

    </div>
    <!-- bootstrap progress js -->
    <!--<script src="{% static "js/leaflet.js" %}"></script>-->
        
    <!-- Main tangram library -->
    <script src="{% static "js/tangram.min.js" %}"></script>
    <script src="{% static "js/progressbar/bootstrap-progressbar.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/leaflet_cluster.js" %}"></script>
    <script  src="{% static "js/markerclusterer.js" %}"></script>
    <script  src="{% static "js/L.Grid.js" %}"></script>
    <script  src="{% static "js/leaflet-heat.js" %}"></script>
    <!-- Map setup -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        
        <script type="text/javascript">
            //Google maps API initialisation
            var element = document.getElementById("map");
 
            var map = new google.maps.Map(element, {
                center: new google.maps.LatLng(23.550097, 87.289751),
                zoom: 16,
                mapTypeId: "OSM",
                mapTypeControl: false,
                streetViewControl: false
            });
 
            //Define OSM map type pointing at the OpenStreetMap tile server
            map.mapTypes.set("OSM", new google.maps.ImageMapType({
                getTileUrl: function(coord, zoom) {
                  // "Wrap" x (logitude) at 180th meridian properly
                  var tilesPerGlobe = 1 << zoom;
                  var x = coord.x % tilesPerGlobe;
                  if (x < 0) x = tilesPerGlobe+x;
                  return "https://tile.openstreetmap.org/" + zoom + "/" + x + "/" + coord.y + ".png";
                },
                tileSize: new google.maps.Size(256, 256),
                name: "OpenStreetMap",
                maxZoom: 18
            }));
        </script>
    <script>
    /*
        var situationalDataTypeColor = {}
        situationalDataTypeColor['Victim'] = L.icon({
            iconUrl: "{% static "images/victim.png" %}",
            
            iconSize:     [35, 35], // size of the icon
        });
        situationalDataTypeColor['Health'] = L.icon({
            iconUrl:  "{% static "images/health.png" %}",
            
            iconSize:     [35, 35], // size of the icon
        });
        situationalDataTypeColor['Food'] = L.icon({
            iconUrl:  "{% static "images/food.png" %}",
            
            iconSize:     [35, 35], // size of the icon          
        });
        situationalDataTypeColor['Shelter'] = L.icon({
            iconUrl: "{% static "images/shelter.png" %}",
            
            iconSize:     [35, 35], // size of the icon
           
        });

        map.setView([23.5422, 87.2515],14);
        
        
        {% for i,j,fname in  latlong %}
            var type = '{{fname}}';
            if(type != 'Gis')
            {   
                var m = L.marker([{{ i }}, {{ j }}],{icon: situationalDataTypeColor['{{fname}}']}).addTo(map);
            }
        {% endfor %}         
        
        // Added geojson 
        var geojsonLayer = 0;
        
        function onEachFeature(feature, layer) {      
               layer.on('click', function (e) {
                  var popupContent = "Feature: " + feature.geometry.type + "<br/>FID : " + feature.properties.FID + "<br/>  Text : " + feature.properties.TEXT + "<br/>Rate us please:<div class='stars'><form action=''><input class='star star-5' id='star-5' type='radio' name='star'/><label class='star star-5' for='star-5'></label><input class='star star-4' id='star-4' type='radio' name='star'/><label class='star star-4' for='star-4'></label><input class='star star-3' id='star-3' type='radio' name='star'/><label class='star star-3' for='star-3'></label><input class='star star-2' id='star-2' type='radio' name='star'/><label class='star star-2' for='star-2'></label><input class='star star-1' id='star-1' type='radio' name='star'/><label class='star star-1' for='star-1'></label></form></div>";
                    
                    layer.bindPopup(popupContent);
                });
        }
        var geojsonfeature = $.getJSON("{% static "sampleGeoJson/sample.geojson" %}", 
            function(dataGeo) {
                geojsonLayer = L.geoJson(dataGeo,{
                  style: function(feature) {
                    return {
                      "color": "#78c679",
                      "weight": 5,
                      "opacity": 0.9,
                      "zIndex" : 100
                    }
                  },
                  // Put onEachFeature within the options object, not as 3rd argument.
                  onEachFeature: onEachFeature
                });
                geojsonLayer.addTo(map);
            }
        );
        if(map.hasLayer(geojsonLayer))
        {
            console.log("has layer");
            map.removeLayer(geojsonLayer);    
        }
        
        
    <script type="text/javascript">

         function toggleFullScreen()
         {
                 var elem = document.getElementById("map");
                if (elem.requestFullscreen) {
                  elem.requestFullscreen();
                } else if (elem.msRequestFullscreen) {
                  elem.msRequestFullscreen();
                } else if (elem.mozRequestFullScreen) {
                  elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) {
                  elem.webkitRequestFullscreen();
                }
    
         }
        
    </script>
    <!-- /footer content -->
</body>

</html>
