{% extends "mcs/Abase.html" %}
{% load static from staticfiles %}
{% block content %}
            <!-- page content -->
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3> Videos </h3>
                        </div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2> Video Files in DB 

                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                         </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row  gallery clearfix">
                                    {% for i in vidList %}
                                           {% static "" as baseURL %}
                                            <div class="col-md-55">
                                                  <video class="video" width="100%" height="100%" id="videoId" controls>
                                                      <source src=/media/sync/{{i}}>
                                                      Your browser does not support the video tag.
                                                   </video>                                         

                                            </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /page content -->
{% endblock content %}